<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the govuk-dita-plugin project.
Copyright 2026 iStandUK. Licensed under the Apache License, Version 2.0.
-->
<plugin id="org.istanduk.gov-uk" version="0.1.0">
  <require plugin="org.dita.html5"/>
  <transtype name="govuk" extends="html5" desc="GOV.UK Design System HTML5">
    <param name="govuk.branding"
           desc="Branding mode. 'neutral' (default) uses system fonts and no crown; 'official' is reserved for genuine GOV.UK services and is not yet implemented."
           type="enum">
      <val default="true">neutral</val>
      <val>official</val>
    </param>
    <param name="govuk.service.name"
           desc="Service or publication name shown in the masthead and footer. Defaults to the map title."
           type="string"/>
  </transtype>
  <feature extension="dita.conductor.transtype.check" value="govuk"/>
  <feature extension="ant.import" file="build_dita2govuk.xml"/>
  <feature extension="dita.conductor.html5.param" file="insertParameters.xml"/>
</plugin>
